// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Inter', Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$theme-colors: (
    "primary-light": #115789,
    "accent":#A6CE39
);

$blue: #014E84;
$primary-light: #115789;
$accent: #A6CE39;

$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;



