@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.15.0/tabler-icons.min.css');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    min-height: 100vh !important;
}

html, body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-family: Inter, Helvetica, "sans-serif";
}


.bg {
    background-image: url(../images/bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 100vh !important;
}

.shadow-lg {
    box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, .5) !important;
}


.slider {
    width: 50%;
    margin: 100px auto;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: 1;
}

.slick-current {
    opacity: 1;
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: 1;
}

.slick-active {
    opacity: 1;
}

.slick-current {
    opacity: 1;
}

.slick-next:before {
    content: url(../images/next.svg) !important;
}

.slick-prev:before {
    content: url(../images/prev.svg) !important;
}


.admin-bg {
    background-image: url(../images/Adminbg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

[x-cloak] { display: none !important; }

.error {
    color: $red !important;
    font-size: 13px !important;
}

.active-link{
    border-bottom: 3px solid $accent !important;
    color: $accent !important;
}
button[data-toggle="collapse"].collapsed .icon-plus {
    display: block; /* Show the plus icon */
}

button[data-toggle="collapse"]:not(.collapsed) .icon-minus {
    display: block; /* Show the minus icon */
}

.icon-plus {
    display: none; /* Hide the plus icon by default */
}

.icon-minus {
    display: none; /* Hide the minus icon by default */
}

